*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans Unicode';
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    cursor: pointer;
    border: none;
    background-color: none;
}

img{
    width: 100%;
}

header{
    background-color: #210000;
    position: fixed;
    z-index: 100;
    width: 100%;
}

header .navbar{
    display: flex;
    height: 80px;
    padding: 0 40px;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    display: flex;
    background-color: #6e0101;
    background: transparent;
}

.logo{
    width: 200px;
    height: 70px;
    margin-right: 15px;
}

.navbar .nav-menu{
    display: flex;
    gap: 50px;
    list-style: none;
    padding: 5px 0;
    margin-right: 20px;
}

.navbar .nav-menu .nav-link {
    position: relative;
    font-size: 22px;
    padding: 5px 10px;
    color: #fff;
    /* background: linear-gradient(180deg, #8d0000, #a40808); */
    text-decoration: none;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); */
    transition: color 0.3s ease-in-out;
}

.navbar .nav-menu .nav-link::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
}

.navbar .nav-menu .nav-link:hover::after{
    width: 100%;
}

/* MAPS */

@font-face{
    font-family: ValorantFont;
    src: url(Fonts/valorantFont.ttf);
}

/* MAPS 1 */

.maps1{
    padding: 30px;
    max-width: 1500px;
    background-color: #fff9ec;
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

.maps1-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.maps1-text h2{
    font-family: valorantFont;
    font-size: 70px;
    margin-left: 40px;
    margin-top: 130px;
}

.maps1-text p{
    font-family: Verdana;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 50px;
}

.maps1-image img{
    width: 550px;
    height: auto;
    margin-top: 30px;
    margin-right: 30px;
}

.maps1-images{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 80px;
}

.maps1-images img{
    width: 150px;
    height: 90px;
    object-fit: cover;
}

/* MAPS 2 */

.maps2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    padding: 30px;
    max-width: 1500px;
    background-color: #3c0000;
}

.maps2-images{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 80px;
    margin-left: 30px;
}

.maps2-images img{
    width: 150px;
    height: 90px;
    object-fit: cover;
}

.maps2-image img{
    margin-top: 25px;
    width: 550px;
    height: auto;
}

.maps2-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 450px;
}

.maps2-text h2{
    font-family: valorantFont;
    font-size: 70px;
    margin-left: 45px;
    margin-top: 90px;
    color: #fff9ec;
}

.maps2-text p{
    font-family: Verdana;
    font-size: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: 40px;
    text-align: right;
    color: #fff9ec;
}

/* MAPS 3 */

.maps3{
    padding: 30px;
    max-width: 1500px;
    background-color: #fff9ec;
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

.maps3-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.maps3-text h2{
    font-family: valorantFont;
    font-size: 70px;
    margin-left: 40px;
    margin-top: 130px;
}

.maps3-text p{
    font-family: Verdana;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 50px;
}

.maps3-image img{
    width: 550px;
    height: auto;
    margin-top: 30px;
    margin-right: 30px;
}

.maps3-images{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 80px;
}

.maps3-images img{
    width: 150px;
    height: 90px;
    object-fit: cover;
}

/* MAPS 4 */

.maps4{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    padding: 30px;
    max-width: 1500px;
    background-color: #3c0000;
}

.maps4-images{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 80px;
    margin-left: 30px;
}

.maps4-images img{
    width: 150px;
    height: 90px;
    object-fit: cover;
}

.maps4-image img{
    margin-top: 25px;
    width: 550px;
    height: auto;
}

.maps4-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 450px;
}

.maps4-text h2{
    font-family: valorantFont;
    font-size: 70px;
    margin-left: 45px;
    margin-top: 90px;
    color: #fff9ec;
}

.maps4-text p{
    font-family: Verdana;
    font-size: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: 40px;
    text-align: right;
    color: #fff9ec;
}

/* MAPS 5 */

.maps5{
    padding: 30px;
    max-width: 1500px;
    background-color: #fff9ec;
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

.maps5-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.maps5-text h2{
    font-family: valorantFont;
    font-size: 70px;
    margin-left: 40px;
    margin-top: 130px;
}

.maps5-text p{
    font-family: Verdana;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 50px;
}

.maps5-image img{
    width: 550px;
    height: auto;
    margin-top: 30px;
    margin-right: 30px;
}

.maps5-images{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 80px;
}

.maps5-images img{
    width: 150px;
    height: 90px;
    object-fit: cover;
}

/* FOOTER */

.footer{
    background-color: #210000;
    color: #fff;
    padding: 20px 40px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.logo-giot img{
    width: 150px;
    height: auto;
}

.footer-content p{
    font-family: Verdana;
    font-size: 14px;
    margin: 4px 0;
    text-align: center;
}

.footer-content .text-copyright{
    flex: 1;
    text-align: center;
}

.social-media{
    display: flex;
    gap: 10px;
}

.social-media img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Lucida Sans Unicode';
    }
    
    .flex-center{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button{
        cursor: pointer;
        border: none;
        background-color: transparent;
    }
    
    img{
        width: 100%;
    }
    
    header{
        background-color: #210000;
        position: fixed;
        z-index: 100;
        width: 100%;
    }
    
    header .navbar{
        display: flex;
        height: 80px;
        padding: 0 20px;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-logo{
        display: flex;
        background: transparent;
        margin-left: -5px;
        margin-top: 2px;
    }
    
    .logo{
        width: 150px;
        height: auto;
        margin-right: 10px;
    }
    
    .navbar .nav-menu{
        position: absolute;
        top: 80px;
        left: 0;
        width: 100vw;
        background-color: #210000;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        list-style: none;
        padding: 20px 0;
        display: none;
        z-index: 1000;
    }

    .navbar .nav-menu.active{
        display: flex;
    }
    
    .navbar .nav-menu .nav-link{
        font-size: 18px;
        padding: 10px;
        color: #fff;
        text-decoration: none;
    }
    
    .navbar .nav-menu .nav-link::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: #fff;
        transition: all 0.3s ease-in-out;
        transform: translateX(-50%);
    }
    
    .navbar .nav-menu .nav-link:hover::after{
        width: 100%;
    }
    
    .hamburger-menu{
        display: block;
        height: 50px;
        width: 50px;
        margin-left: auto;
        position: relative;
        z-index: 1000;
    }

    .hamburger-menu span{
        height: 4px;
        width: 80%;
        background-color: white;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease-in-out;
    }

    .hamburger-menu span:nth-child(1){
        top: 30%;
    }

    .hamburger-menu span:nth-child(3){
        top: 70%;
    }

    .hamburger-menu.active span:nth-child(1){
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .hamburger-menu.active span:nth-child(2){
        opacity: 0;
    }

    .hamburger-menu.active span:nth-child(3){
        top: 50%;
        transform: translate(-50%, 50%) rotate(-45deg);
    }

    /* MAPS 1 */

    .maps1{
        background-color: #fff9ec;
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .maps1-text{
        align-items: center;
        text-align: center;
    }

    .maps1-text h2{
        font-family: valorantFont;
        font-size: 40px;
        margin-top: 120px;
        margin-right: auto;
        margin-left: auto;
    }

    .maps1-text p{
        font-family: Verdana;
        font-size: 15px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }

    .maps1-image img{
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -20px;
    }

    .maps1-images{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;
        margin-top: -5px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .maps1-images img{
        width: 75px;
        height: 50px;
    }

    /* MAPS 2 */
    
    .maps2{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #3c0000;
        padding: 15px;
    }
    
    .maps2-text{
        order: 1;
        max-width: 100%;
        align-items: center;
        text-align: center;
    }
    
    .maps2-image{
        order: 2;
    }
    
    .maps2-images{
        order: 3;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
        margin-top: -5px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }
    
    .maps2-text h2{
        font-family: valorantFont;
        font-size: 40px;
        text-align: center;
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .maps2-text p{
        font-family: Verdana;
        font-size: 15px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }
    
    .maps2-image img{
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -5px;
    }
    
    .maps2-images img{
        width: 75px;
        height: 50px;
    }

    /* MAPS 3 */

    .maps3{
        background-color: #fff9ec;
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .maps3-text{
        align-items: center;
        text-align: center;
    }

    .maps3-text h2{
        font-family: valorantFont;
        font-size: 40px;
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
    }

    .maps3-text p{
        font-family: Verdana;
        font-size: 15px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }

    .maps3-image img{
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
    }

    .maps3-images{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;
        margin-top: -5px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .maps3-images img{
        width: 75px;
        height: 50px;
    }

    /* MAPS 4 */

    .maps4{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #3c0000;
        padding: 15px;
    }
    
    .maps4-text{
        order: 1;
        max-width: 100%;
        align-items: center;
        text-align: center;
    }
    
    .maps4-image{
        order: 2;
    }
    
    .maps4-images{
        order: 3;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
        margin-top: -5px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }
    
    .maps4-text h2{
        font-family: valorantFont;
        font-size: 40px;
        text-align: center;
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .maps4-text p{
        font-family: Verdana;
        font-size: 15px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }
    
    .maps4-image img{
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }
    
    .maps4-images img{
        width: 75px;
        height: 50px;
    }

    /* MAPS 5 */

    .maps5{
        background-color: #fff9ec;
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .maps5-text{
        align-items: center;
        text-align: center;
    }

    .maps5-text h2{
        font-family: valorantFont;
        font-size: 40px;
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
    }

    .maps5-text p{
        font-family: Verdana;
        font-size: 15px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }

    .maps5-image img{
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -10px;
        margin-bottom: 20px;
    }

    .maps5-images{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;
        margin-top: -5px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .maps5-images img{
        width: 75px;
        height: 50px;
    }

    /* FOOTER */

    .footer{
        background-color: #210000;
        color: #fff;
        padding: 10px 20px;
    }

    .footer-content{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-content .text-copyright{
        margin-top: -15px;
        flex: unset;
        width: 100%;
    }

    .logo-giot img{
        margin-top: 10px;
        width: 120px;
    }

    .social-media{
        justify-content: center;
    }
}