*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans Unicode';
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    cursor: pointer;
    border: none;
    background-color: none;
}

img{
    width: 100%;
}

header{
    background-color: #210000;
    position: fixed;
    z-index: 100;
    width: 100%;
}

header .navbar{
    display: flex;
    height: 80px;
    padding: 0 40px;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    display: flex;
    background-color: #6e0101;
    background: transparent;
}

.logo{
    width: 200px;
    height: 70px;
    margin-right: 15px;
}

.navbar .nav-menu{
    display: flex;
    gap: 50px;
    list-style: none;
    padding: 5px 0;
    margin-right: 20px;
}

.navbar .nav-menu .nav-link{
    position: relative;
    font-size: 22px;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.navbar .nav-menu .nav-link::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
}

.navbar .nav-menu .nav-link:hover::after{
    width: 100%;
}

/* SLIDER */

.slider{
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    margin: auto;
    position: relative;
}

.list{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: max-content;
    transition: left 0.5s ease-in-out;
}

.list > div{
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    position: relative;
}

.list img{
    width: 100%;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}

/* NEXT PREV BUTTON */

.prev-button{
    position: absolute;
    background-color: rgba(225, 225, 225, 0.731);
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.3s;
    left: 40%;
    bottom: 80px;
}

.next-button{
    position: absolute;
    background-color: rgba(225, 225, 225, 0.731);
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.3s;
    right: 40%;
    bottom: 80px;
}

.prev-button:hover{
    background-color: rgba(140, 136, 136, 0.731);
}

.next-button:hover{
    background-color: rgba(140, 136, 136, 0.731);
}

.prev-button img{
    width: 35px;
    height: 30px;
}

.next-button img{
    width: 35px;
    height: 30px;
}

.dots{
    position: absolute;
    bottom: 5px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}

.dots li.active{
    width: 30px;
}

/* AGENT 1 */

@font-face{
    font-family: ValorantFont;
    src: url(Fonts/valorantFont.ttf);
}

@font-face{
    font-family: bebasNeue;
    src: url(Fonts/BebasNeue-Regular.ttf);
}

.agent-1{
    display: none;
    background-image: url(Assets/agents1.png);
    background-color: white;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}

.agent-1 .active{
    display: block;
}

.background-agent1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 31, 31, 0.365);
    z-index: 1;
}

.agent1-text{
    text-align: right;
    max-width: 700px;
    position: relative;
    z-index: 2;
}

.agent1-text h2{
    font-family: valorantFont;
    font-size: 70px;
    color: #fff;
    margin-bottom: 10px;
    margin-right: 40px;
    text-shadow:
    0 0 5px #6e6e6e,
    0 0 10px #a9a9a9,
    0 0 20px #6f1996,
    0 0 30px #8b00cc,
    0 0 40px #6a009c,
    0 0 50px #2d0042,
    0 0 60px #3e005b;
}

.agent1-role{
    font-family: bebasNeue;
    font-size: 30px;
    color: rgb(231, 227, 227);
    margin-right: 40px;
    margin-top: -5px;
}

.agent1-text p{
    font-family: Verdana;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: -10px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

.agent1-skills{
    position: absolute;
    top: 23rem;
    left: 60px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 2;
}

.agent1-skills img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}

/* AGENT 2 */

.agent-2{
    display: none;
    background-image: url(Assets/agents2.png);
    background-color: white;
    background-size: cover;
    background-position: center top 80px;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}

.agent-2 .active{
    display: block;
}

.background-agent2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 31, 31, 0.365);
    z-index: 1;
}

.agent2-text{
    text-align: right;
    max-width: 700px;
    position: relative;
    z-index: 2;
}

.agent2-text h2{
    font-family: valorantFont;
    font-size: 70px;
    color: #fff;
    margin-bottom: 10px;
    margin-right: 40px;
    text-shadow:
    0 0 5px #38389c,
    0 0 10px #0c0ca4,
    0 0 20px #003366,
    0 0 30px #255d96,
    0 0 40px #0256b0,
    0 0 50px #032445,
    0 0 60px #082654;
}

.agent2-role{
    font-family: bebasNeue;
    font-size: 30px;
    color: rgb(231, 227, 227);
    margin-right: 40px;
    margin-top: -5px;
}

.agent2-text p{
    font-family: Verdana;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: -10px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

.agent2-skills{
    position: absolute;
    top: 23rem;
    left: 60px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 2;
}

.agent2-skills img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}

/* AGENT 3 */

.agent-3{
    display: none;
    background-image: url(Assets/agents3.png);
    background-color: white;
    background-size: cover;
    background-position: center top 30px;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}

.agent-3 .active{
    display: block;
}

.background-agent3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 31, 31, 0.365);
    z-index: 1;
}

.agent3-text{
    text-align: right;
    max-width: 700px;
    position: relative;
    z-index: 2;
}

.agent3-text h2{
    font-family: valorantFont;
    font-size: 70px;
    color: #fff;
    margin-bottom: 10px;
    margin-right: 40px;
    text-shadow:
    0 0 5px #bcb2a3,
    0 0 10px #9c8561,
    0 0 20px #fb8c00,
    0 0 30px #6e3d0c,
    0 0 40px #ef6c00,
    0 0 50px #e65100,
    0 0 60px #bf360c;
}

.agent3-role{
    font-family: bebasNeue;
    font-size: 30px;
    color: rgb(231, 227, 227);
    margin-right: 40px;
    margin-top: -5px;
}

.agent3-text p{
    font-family: Verdana;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: -10px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

.agent3-skills{
    position: absolute;
    top: 23rem;
    left: 60px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 2;
}

.agent3-skills img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease-in-out;
}

/* AGENT 4 */

.agent-4{
    display: none;
    background-image: url(Assets/agents4.png);
    background-color: white;
    background-size: cover;
    background-position: center top 20px;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}

.agent-4 .active{
    display: block;
}

.background-agent4{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 31, 31, 0.365);
    z-index: 1;
}

.agent4-text{
    text-align: right;
    max-width: 700px;
    position: relative;
    z-index: 2;
}

.agent4-text h2{
    font-family: valorantFont;
    font-size: 70px;
    color: #fff;
    margin-bottom: 10px;
    margin-right: 40px;
    text-shadow:
    0 0 5px #8caaff,
    0 0 10px #3b3b6e,
    0 0 20px #1a1a5e,
    0 0 30px #00008b,
    0 0 40px #000080,
    0 0 50px #000066,
    0 0 60px #000033;
}

.agent4-role{
    font-family: bebasNeue;
    font-size: 30px;
    color: rgb(231, 227, 227);
    margin-right: 40px;
    margin-top: -5px;
}

.agent4-text p{
    font-family: Verdana;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: -10px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

.agent4-skills{
    position: absolute;
    top: 23rem;
    left: 60px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 2;
}

.agent4-skills img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.9);
    transition: transform 0.3s ease-in-out;
}

/* AGENT 5 */

.agent-5{
    display: none;
    background-image: url(Assets/agents5.png);
    background-color: white;
    background-size: cover;
    background-position: center top 60px;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}

.agent-5 .active{
    display: block;
}

.background-agent5{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 31, 31, 0.365);
    z-index: 1;
}

.agent5-text{
    text-align: right;
    max-width: 700px;
    position: relative;
    z-index: 2;
}

.agent5-text h2{
    font-family: valorantFont;
    font-size: 70px;
    color: #fff;
    margin-bottom: 10px;
    margin-right: 40px;
    text-shadow:
    0 0 5px #8caaff,
    0 0 10px #3b3b6e,
    0 0 20px #1a1a5e,
    0 0 30px #00008b,
    0 0 40px #000080,
    0 0 50px #000066,
    0 0 60px #000033;
}

.agent5-role{
    font-family: bebasNeue;
    font-size: 30px;
    color: rgb(231, 227, 227);
    margin-right: 40px;
    margin-top: -5px;
}

.agent5-text p{
    font-family: Verdana;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: -10px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

.agent5-skills{
    position: absolute;
    top: 23rem;
    left: 60px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 2;
}

.agent5-skills img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.9);
    transition: transform 0.3s ease-in-out;
}

/* FOOTER */

.footer{
    background-color: #210000;
    color: #fff;
    padding: 20px 40px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.logo-giot img{
    width: 150px;
    height: auto;
}

.footer-content p{
    font-family: Verdana;
    font-size: 14px;
    margin: 4px 0;
    text-align: center;
}

.footer-content .text-copyright{
    flex: 1;
    text-align: center;
}

.social-media{
    display: flex;
    gap: 10px;
}

.social-media img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Lucida Sans Unicode';
    }
    
    .flex-center{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button{
        cursor: pointer;
        border: none;
        background-color: transparent;
    }
    
    img{
        width: 100%;
    }
    
    header{
        background-color: #210000;
        position: fixed;
        z-index: 100;
        width: 100%;
    }
    
    header .navbar{
        display: flex;
        height: 80px;
        padding: 0 20px;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-logo{
        display: flex;
        background: transparent;
        margin-left: -5px;
        margin-top: 2px;
    }
    
    .logo{
        width: 150px;
        height: auto;
        margin-right: 10px;
    }
    
    .navbar .nav-menu{
        position: absolute;
        top: 80px;
        left: 0;
        width: 100vw;
        background-color: #210000;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        list-style: none;
        padding: 20px 0;
        display: none;
        z-index: 1000;
    }

    .navbar .nav-menu.active{
        display: flex;
    }
    
    .navbar .nav-menu .nav-link{
        font-size: 18px;
        padding: 10px;
        color: #fff;
        text-decoration: none;
    }
    
    .navbar .nav-menu .nav-link::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: #fff;
        transition: all 0.3s ease-in-out;
        transform: translateX(-50%);
    }
    
    .navbar .nav-menu .nav-link:hover::after{
        width: 100%;
    }
    
    .hamburger-menu{
        display: block;
        height: 50px;
        width: 50px;
        margin-left: auto;
        position: relative;
        z-index: 1000;
    }

    .hamburger-menu span{
        height: 4px;
        width: 80%;
        background-color: white;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease-in-out;
    }

    .hamburger-menu span:nth-child(1){
        top: 30%;
    }

    .hamburger-menu span:nth-child(3){
        top: 70%;
    }

    .hamburger-menu.active span:nth-child(1){
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .hamburger-menu.active span:nth-child(2){
        opacity: 0;
    }

    .hamburger-menu.active span:nth-child(3){
        top: 50%;
        transform: translate(-50%, 50%) rotate(-45deg);
    }

    /* SLIDER */

    .slider{
        width: 100%;
        max-width: 100vw;
        height: 100vh;
        margin: auto;
        position: relative;
    }

    .list{
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: max-content;
        transition: left 0.5s ease-in-out;
    }

    .list > div{
        width: 100vw;
        height: 100vh;
        flex-shrink: 0;
        position: relative;
    }

    .list img{
        width: 100%;
        max-width: 100vw;
        height: 100%;
        object-fit: cover;
    }

    /* NEXT PREV BUTTON */

    .prev-button{
        position: absolute;
        background-color: rgba(225, 225, 225, 0.731);
        border: none;
        border-radius: 50%;
        padding: 10px;
        cursor: pointer;
        z-index: 2;
        transition: background-color 0.3s;
        left: 31%;
        bottom: 60px;
    }

    .next-button{
        position: absolute;
        background-color: rgba(225, 225, 225, 0.731);
        border: none;
        border-radius: 50%;
        padding: 10px;
        cursor: pointer;
        z-index: 2;
        transition: background-color 0.3s;
        right: 31%;
        bottom: 60px;
    }

    .prev-button:hover{
        background-color: rgba(140, 136, 136, 0.731);
    }

    .next-button:hover{
        background-color: rgba(140, 136, 136, 0.731);
    }

    .prev-button img{
        width: 28px;
        height: 20px;
    }

    .next-button img{
        width: 28px;
        height: 20px;
    }

    .dots{
        position: absolute;
        bottom: 5px;
        color: #fff;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .dots li{
        list-style: none;
        width: 10px;
        height: 10px;
        background-color: #fff;
        margin: 10px;
        border-radius: 20px;
        transition: 1s;
    }

    .dots li.active{
        width: 20px;
    }

    /* AGENT 1 */

    .agent-1{
        background-image: url(Assets/agents1.png);
        background-color: white;
        background-size: cover;
        background-position: 23% center;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 30px;
    }
    
    .background-agent1{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(32, 31, 31, 0.365);
        z-index: 1;
    }
    
    .agent1-text{
        position: relative;
        max-width: 250px;
        z-index: 2;
    }
    
    .agent1-text h2{
        font-family: valorantFont;
        font-size: 50px;
        color: #fff;
        margin-bottom: 10px;
        margin-right: 0;
        text-shadow:
        0 0 5px #6e6e6e,
        0 0 10px #a9a9a9,
        0 0 20px #6f1996,
        0 0 30px #8b00cc,
        0 0 40px #6a009c,
        0 0 50px #2d0042,
        0 0 60px #3e005b;
    }

    .agent1-role{
        font-family: bebasNeue;
        font-size: 30px;
        color: rgb(231, 227, 227);
        margin-right: 0;
        margin-top: -10px;
    }
    
    .agent1-text p{
        font-family: Verdana;
        font-size: 14px;
        color: #fff;
        margin-right: 0;
        margin-top: 5px;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
    }
    
    .agent1-skills{
        position: absolute;
        top: 23.rem;
        left: 30px;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        gap: 25px;
        z-index: 2;
    }
    
    .agent1-skills img{
        width: 55px;
        height: 55px;
        border-radius: 50%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s ease-in-out;
    }

    /* AGENT 2 */

    .agent-2{
        background-image: url(Assets/agents2.png);
        background-color: white;
        background-size: cover;
        background-position: 43% 70px;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 30px;
    }
    
    .background-agent2{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(32, 31, 31, 0.365);
        z-index: 1;
    }
    
    .agent2-text{
        position: relative;
        max-width: 250px;
        z-index: 2;
    }
    
    .agent2-text h2{
        font-family: valorantFont;
        font-size: 50px;
        color: #fff;
        margin-bottom: 10px;
        margin-right: 0;
        text-shadow:
        0 0 5px #38389c,
        0 0 10px #0c0ca4,
        0 0 20px #003366,
        0 0 30px #255d96,
        0 0 40px #0256b0,
        0 0 50px #032445,
        0 0 60px #082654;
    }

    .agent2-role{
        font-family: bebasNeue;
        font-size: 30px;
        color: rgb(231, 227, 227);
        margin-right: 0;
        margin-top: -10px;
    }
    
    .agent2-text p{
        font-family: Verdana;
        font-size: 14px;
        color: #fff;
        margin-right: 0;
        margin-top: 5px;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
    }
    
    .agent2-skills{
        position: absolute;
        top: 23.rem;
        left: 30px;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        gap: 25px;
        z-index: 2;
    }
    
    .agent2-skills img{
        width: 55px;
        height: 55px;
        border-radius: 50%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s ease-in-out;
    }

    /* AGENT 3 */

    .agent-3{
        background-image: url(Assets/agents3.png);
        background-color: white;
        background-size: cover;
        background-position: 62% 70px;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 30px;
    }
    
    .background-agent3{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(32, 31, 31, 0.365);
        z-index: 1;
    }
    
    .agent3-text{
        position: relative;
        max-width: 250px;
        z-index: 2;
    }
    
    .agent3-text h2{
        font-family: valorantFont;
        font-size: 37px;
        color: #fff;
        margin-bottom: 10px;
        margin-right: 0;
        text-shadow:
        0 0 5px #bcb2a3,
        0 0 10px #9c8561,
        0 0 20px #fb8c00,
        0 0 30px #6e3d0c,
        0 0 40px #ef6c00,
        0 0 50px #e65100,
        0 0 60px #bf360c;
    }

    .agent3-role{
        font-family: bebasNeue;
        font-size: 30px;
        color: rgb(231, 227, 227);
        margin-right: 0;
        margin-top: -10px;
    }
    
    .agent3-text p{
        font-family: Verdana;
        font-size: 14px;
        color: #fff;
        margin-right: 0;
        margin-top: 5px;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
    }
    
    .agent3-skills{
        position: absolute;
        top: 23.rem;
        left: 30px;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        gap: 25px;
        z-index: 2;
    }
    
    .agent3-skills img{
        width: 55px;
        height: 55px;
        border-radius: 50%;
        box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.8);
        transition: transform 0.3s ease-in-out;
    }

    /* AGENT 4 */

    .agent-4{
        background-image: url(Assets/agents4.png);
        background-color: white;
        background-size: cover;
        background-position: 50% 30px;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 30px;
    }
    
    .background-agent4{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(32, 31, 31, 0.365);
        z-index: 1;
    }
    
    .agent4-text{
        position: relative;
        max-width: 250px;
        z-index: 2;
    }
    
    .agent4-text h2{
        font-family: valorantFont;
        font-size: 50px;
        color: #fff;
        margin-bottom: 10px;
        margin-right: 0;
        text-shadow:
        0 0 5px #8caaff,
        0 0 10px #3b3b6e,
        0 0 20px #1a1a5e,
        0 0 30px #00008b,
        0 0 40px #000080,
        0 0 50px #000066,
        0 0 60px #000033;
    }

    .agent4-role{
        font-family: bebasNeue;
        font-size: 30px;
        color: rgb(231, 227, 227);
        margin-right: 0;
        margin-top: -10px;
    }
    
    .agent4-text p{
        font-family: Verdana;
        font-size: 14px;
        color: #fff;
        margin-right: 0;
        margin-top: 5px;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
    }
    
    .agent4-skills{
        position: absolute;
        top: 23.rem;
        left: 30px;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        gap: 25px;
        z-index: 2;
    }
    
    .agent4-skills img{
        width: 55px;
        height: 55px;
        border-radius: 50%;
        box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.9);
        transition: transform 0.3s ease-in-out;
    }

    /* AGENT 5 */

    .agent-5{
        background-image: url(Assets/agents5.png);
        background-color: white;
        background-size: cover;
        background-position: 45% 70px;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 30px;
    }
    
    .background-agent5{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(32, 31, 31, 0.365);
        z-index: 1;
    }
    
    .agent5-text{
        position: relative;
        max-width: 250px;
        z-index: 2;
    }
    
    .agent5-text h2{
        font-family: valorantFont;
        font-size: 50px;
        color: #fff;
        margin-bottom: 10px;
        margin-right: 0;
        text-shadow:
        0 0 5px #8caaff,
        0 0 10px #3b3b6e,
        0 0 20px #1a1a5e,
        0 0 30px #00008b,
        0 0 40px #000080,
        0 0 50px #000066,
        0 0 60px #000033;
    }

    .agent5-role{
        font-family: bebasNeue;
        font-size: 30px;
        color: rgb(231, 227, 227);
        margin-right: 0;
        margin-top: -10px;
    }
    
    .agent5-text p{
        font-family: Verdana;
        font-size: 14px;
        color: #fff;
        margin-right: 0;
        margin-top: 5px;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
    }
    
    .agent5-skills{
        position: absolute;
        top: 23rem;
        left: 30px;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        gap: 25px;
        z-index: 2;
    }
    
    .agent5-skills img{
        width: 55px;
        height: 55px;
        border-radius: 50%;
        box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.9);
        transition: transform 0.3s ease-in-out;
    }

    /* FOOTER */

    .footer{
        background-color: #210000;
        color: #fff;
        padding: 10px 20px;
    }

    .footer-content{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-content .text-copyright{
        margin-top: -15px;
        flex: unset;
        width: 100%;
    }

    .logo-giot img{
        margin-top: 10px;
        width: 120px;
    }

    .social-media{
        justify-content: center;
    }
}
